// Colors

$color-primary-red-light: hsl(356, 100%, 66%);
$color-primary-red-very-light: hsl(355, 100%, 74%);
$color-primary-dark-blue: hsl(208, 49%, 24%);
$color-dark-blue-2: hsl(207, 13%, 34%);
$color-white: #fff;

// Font family

$font-family-ubuntu: "Ubuntu", sans-serif;
$font-family-overpass: "Overpass", sans-serif;
